include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include setup.py
include setup.cfg
include pyproject.toml
include tox.ini
include requirements_dev.txt
recursive-include src/testspace_colab *
recursive-include tests *
recursive-exclude * __pycache__to
recursive-exclude * *.py[co]
recursive-exclude docs/ *
recursive-exclude .github/ *
exclude .gitignore

